[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
requests = "*"
black = "*"
flask = "*"
gpt4all = "*"

[dev-packages]

[requires]
python_version = "3.11"
